@page
@model ItRental.Web.Pages.EquipmentsModel
@{
    ViewData["Title"] = "Udstyr";
    Layout = "_Layout";
}

<h2>Oversigt over IT-udstyr</h2>
<div class="content">
    <table>
            <tr>
                <th>Navn</th>
                <th>Kategori</th>
                <th>Antal</th>
            </tr>
        <tbody>
            @{
                foreach (Equipment equipment in Model.Equipments)
                {
                    <tr>
                        <td>@equipment.Name</td>
                        <td>@equipment.Category</td>
                        <td>@equipment.Units</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <br />
    <h2>Opret nyt IT-udstyr</h2>
    <div class="form">
        <form method="post" asp-page="Equipments">
            <label asp-for="Equipment.Name"></label>
            <input asp-for="Equipment.Name" placeholder="Skriv navn på udstyr"/>
            <label asp-for="Equipment.Category"></label>
            <input asp-for="Equipment.Category" placeholder="Skriv kategori"/>
            <label asp-for="Equipment.Units"></label>
            <input asp-for="Equipment.Units" placeholder="Angiv antal"/>
            <input type="submit" value="Opret" />
        </form>
    </div>
</div>

